################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PUBG_Replay_Manager/v15/Server/sqlite3
